footer.footer
    .footer__principal
        .footer__principal__container
            .footer__principal__text auspiciado por
            .footer__principal__image    
                img(src='./images/logo-chakana.png')
    .footer__secondary
        .footer__secondary__image
            img(src='./images/logo-laveramente.png')
