extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-24.col-sm-13
                                .home__hero__data
                                    .home__hero__logo.wow.fadeInUpBig
                                        img(src='/images/main-logo.png')
                                    .home__hero__buttons.wow.fadeInUpBig
                                        a.home__hero__button.home__hero__button--buy Comprar
                                        a.home__hero__button.home__hero__button--download descargar 1er capítulo
                            .col-xs-24.col-sm-10.col-sm-offset-1
                                .home__hero__image
                                    img(src='/images/book.png')
        
        section.home__main
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-24.col-sm-8
                                h2.home__main__info.wow.fadeInLeft ¿Y qué pasaría si este libro pidiera una revolución silenciosa y alegre? El tiempo de la insurrección ha llegado.
                            .col-xs-24.col-sm-14.col-sm-offset-2
                                .home__main__text.wow.fadeInRight
                                    strong Insurrección Cultural 
                                    | explora los distintos panoramas (culturales, ecológicos, naturales) para encontrar un camino a seguir: la construcción de una ecología de la cultura. Jonathan Nossiter se inspira en la viticultura rebelde y en el gesto fraternal de muchos productores de vino natural que hace tiempo vienen generando nuevas propuestas para una mejora de la calidad de vida y de la cultura, artesanos de la tierra, verdaderos artistas que volvieron a retomar el papel de la protesta, la disidencia, últimamente abandonado por los artistas. 
                    
        section.home__interstitial
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        p.home__interstitial__text.wow.fadeInUpBig
                            | Con la compra del libro los lectores de este libro tendrán la posibilidad de acceder también al film 
                            strong Resistencia Natural 
                            | (Natural Resistance, 2015) de Jonathan Nossiter.
                        a.home__interstitial__arrow(href='#video')
                            span

        section.home__video#video
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/#{video}")
            
        section.home__bio
            .container
                .row
                    .col-xs-24.col-md-22.col-md-offset-1
                        .col-xs-24.col-sm-8
                            .home__bio__image.wow.fadeInLeft
                                img(src='/images/portrait.jpg')
                        .col-xs-24.col-sm-12.col-sm-offset-2
                            .home__bio__data.wow.fadeInRight
                                .home__bio__title el autor
                                .home__bio__name Jonathan Nossiter
                                .home__bio__text Ciudadano brasileño y estadounidense, creció en Francia, Italia, Grecia, Gran Bretaña e India. Estudió pintura en la Escuela de Bellas Artes de París y griego antiguo en la Universidad de Dartmouth, Estados Unidos. En 1990, rodó su primera película, Resident Alien. Con su segundo film, Sunday (1997), ganó el premio a la mejor película en el Sundance Festival. Ha dirigido a Charlotte Rampling dos veces, en 2000 en Signs & Wonders en Grecia y en 2010 en Rio Sex Comedy en Brasil. La tercera colaboración con ella, Last Words (en la que participa también el actor estadounidense Nick Nolte), finalizará en 2018 en Italia. Ex sommelier (arrepentido), ha hecho listas de vinos desde Nueva York hasta Río y desde São Paulo hasta París y Roma. En 2004, filmó el aclamado documental Mondovino en tres continentes distintos, en donde en forma de “comedia negra” refleja la homogeneización de la cultura a través de la fabricación y comercialización del vino. Su primer libro, Gusto y Poder, fue publicado en Francia en 2007 por Éditions Grasset y con él ganó el premio World Gourmand a la mejor publicación sobre vinos. La película Natural Resistance (2014) está naturalmente vinculada al libro de 2015 Insurrección Cultural que, por primera vez, es traducido al español por Piloto de Tormenta.
                                
        section.home__sponsors
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='https://www.lanacion.com.ar/2084885-jonathan-nossiter-el-cineasta-del-vino')
                                        img(src='/images/logo-la-nacion.png')
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='http://www.fabricioportelli.com/chakana-jonathan-nossiter-resistencia-natural/')
                                        img(src='/images/logo-fabricio-portelli.png')
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='https://www.logiapetitverdot.com.ar/2017/11/jonathan-nossiter-presento-pelicula-resistencia-natural/')
                                        img(src='/images/logo-logia-petit-verdot.png')
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='https://www.clarin.com/sociedad/director-mondovino-agricultura-biodinamica-unica-esperanza_0_ryWXx2zQM.htmlhttps://www.clarin.com/sociedad/director-mondovino-agricultura-biodinamica-unica-esperanza_0_ryWXx2zQM.html')
                                        img(src='/images/logo-clarin.png')
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='http://www.aasommeliers.com.ar/novedades/n/12/Entrevista-a-Jonathan-Nossiter-Gracias-a-los-j%C3%B3venes-productores-y-consumidores-el-vino-natural-seguir%C3%A1-creciendo')
                                        img(src='/images/logo-SSS.png')
                            .col-xs-12.col-sm-8
                                .home__sponsors__image.wow.fadeInUp
                                    a(href='http://www.australspectator.com/resistencia-natural-film-jonathan-nossiter/')
                                        img(src='/images/logo-austral-espectator.png')
                        
