extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-24.col-sm.14
                                .home__hero__data
                                    .home__hero__logo
                                        img(src='')
                                    .home__hero__buttons
                                        a.home__hero__button.home__hero__button--buy Comprar
                                        a.home__hero__button.home__hero__button--download descargar 1er capítulo
                            .col-xs-24.col-sm.10
                                .home__hero__image
                                    img(src='')
        
        section.home__main
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-24.col-sm-8
                                h2.home__main__info
                            .col-xs-24.col-sm-14.col-sm-offset-2
                                p.home__main__text
                    
        section.home__interstitial
            .container
                .row
                    .col-xs-24
                        p.home__interstitial__text
                        
        section.home__video
            iframe
            
        section.home__bio
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .col-xs-24.col-sm-8
                            .home__bio__image
                        .col-xs-24.col-sm-14.col-sm-offset-2
                            .home__bio__data
                                .home__bio__title
                                .home__bio__name
                                .home__bio__text
                                
        section.home__sponsors
            .container
                .row
                    .col-xs-24.col-md-18.col-md-offset-3
                        .row
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            .col-xs-12.col-sm-8
                                img(src='')
                            
